:root {
  font-size: clamp(100%, 90% + 0.5vi, 150%);
  line-height: 1.35;

  /* Light Theme */
  --background-light: #f9f9f9;
  --text-light: #4a4a4a;
  --heading-light: #262626;
  --container-light: #fff;
  --border-light: #d4d4d4;
  --input-border-light: #a3a3a3;
  --button-background-light: #595959;
  --button-text-light: #f0f0f0;
  --button-hover-light: #737373;

  /* Dark Theme */
  --background-dark: #131313;
  --text-dark: #e3e3e3;
  --heading-dark: #f2f2f2;
  --container-dark: #232323;
  --border-dark: #525252;
  --input-border-dark: #525252;
  --button-background-dark: #0c0c0c;
  --button-text-dark: #f0f0f0;
  --button-hover-dark: #383838;

  /* Additional Color Variables */
  --color-red-primary: #68050b;
  --color-red-hover: #920e10;
  --color-blue-primary: #0857ae;
  --color-blue-hover: #0b6ac4;
  --color-blue-light: #e3f2fd;
  --color-green-primary: #7fa81b;
  --color-green-hover: #699313;
  --color-green-light: #e1e8e5;
  --color-gray-disabled: #6c6768;
}

*,
*::before,
*::after {
  font-feature-settings: 'kern';
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: system-ui, sans-serif;
  color: var(--text-light);
  display: grid;
  min-height: 100svh;
}

.container {
  background-color: var(--background-light);
}

.container,
section {
  padding: 1em;
}

section {
  background-color: var(--container-light);
  border-radius: 0.25em;
  border: 0.05em solid var(--border-dark);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header {
  text-align: center;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
  gap: 1rem;
}

h1 {
  font-size: 1.75rem;
  font-weight: 900;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

h1,
h2 {
  color: var(--heading-light);
}

.heading {
  margin-bottom: 0.75rem;
}

.add-playlist {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

#playlists {
  max-height: 52svh;
}

.playlist {
  overflow-y: auto;
  max-height: 75svh;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-green-primary);
  border-radius: 5px;
}

label {
  color: var(--text-light);
}

input[type='text'] {
  padding: 0.75em;
  border: 1px solid var(--input-border-light);
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--container-light);
  color: var(--text-light);
}

button {
  padding: 0.75em 1em;
  background-color: var(--button-background-light);
  color: var(--button-text-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.75em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-light);
}

button.remove-btn {
  background-color: var(--color-red-primary);
}

button.remove-btn:hover {
  background-color: var(--color-red-hover);
}

button.add-btn {
  background-color: var(--color-blue-primary);
}

button.add-btn:hover {
  background-color: var(--color-blue-hover);
}

button.disabled-btn {
  background-color: var(--color-gray-disabled);
  cursor: default;
}

button.disabled-btn:hover {
  background-color: var(--color-gray-disabled);
  cursor: default;
}

ul {
  list-style-type: none;
}

li {
  padding: 0.75em;
  margin-bottom: 0.25em;
  border-radius: 4px;
  background-color: var(--container-light);
  border: 1px solid var(--border-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.selected {
  background-color: var(--container-light);
  border-color: var(--color-green-primary);
  border-width: 0.075em;
}

.song-details {
  flex: 1;
}

.playlist-name,
.song-title {
  font-weight: 600;
}

.playlist-name,
.song-title,
.song-artist,
.song-genre {
  font-size: 0.875rem;
  color: var(--heading-light);
}

.song-artist,
.song-genre {
  font-size: 0.625rem;
  color: var(--heading-light);
  margin-top: 0.1em;
}

.playlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#current-playlist {
  color: var(--color-green-hover);
  font-style: italic;
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
  h1,
  h2 {
    color: var(--heading-dark);
  }
  .container {
    background-color: var(--container-dark);
  }

  section {
    background-color: var(--background-dark);
    border: none;
  }

  button {
    background-color: var(--button-background-dark);
    color: var(--button-text-dark);
  }
  button:hover {
    background-color: var(--button-hover-dark);
  }
  input[type='text'] {
    background-color: var(--container-dark);
    color: var(--text-dark);
    border: 1px solid var(--input-border-dark);
  }
  label {
    color: var(--text-dark);
  }
  li {
    padding: 0.75em;
    margin-bottom: 0.25em;
    border-radius: 4px;
    background-color: var(--container-dark);
    border: 1px solid var(--border-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li.selected {
    background-color: var(--container-dark);
  }
  .playlist-name,
  .song-title,
  .song-artist,
  .song-genre {
    color: var(--text-dark);
  }
}
