:root {
  font-size: clamp(100%, 90% + 0.5vi, 150%);
  line-height: 1.35;

  /* Light Theme */
  --background-light: #f9f9f9;
  --text-light: #4a4a4a;
  --heading-light: #262626;
  --container-light: #fff;
  --border-light: #d4d4d4;
  --input-border-light: #a3a3a3;
  --button-background-light: #595959;
  --button-text-light: #f0f0f0;
  --button-hover-light: #737373;

  /* Dark Theme */
  --background-dark: #171717;
  --text-dark: #e3e3e3;
  --heading-dark: #f2f2f2;
  --container-dark: #262626;
  --border-dark: #525252;
  --input-border-dark: #525252;
  --button-background-dark: #525252;
  --button-text-dark: #f0f0f0;
  --button-hover-dark: #666666;

  /* Additional Color Variables */
  --color-red-primary: #f44336;
  --color-red-hover: #d32f2f;
  --color-blue-primary: #2196f3;
  --color-blue-hover: #0b7dda;
  --color-blue-light: #e3f2fd;
  --color-gray-disabled: #cccccc;
}

*,
*::before,
*::after {
  font-feature-settings: 'kern';
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  line-height: 1.5;
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--background-light);
  color: var(--text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.container {
  width: min(100% - 2rem, 55rem);
  background-color: var(--container-light);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-inline: auto;
}

.container,
section {
  border-radius: 0.25em;
  padding: 1em;
}

header {
  text-align: center;
  margin-bottom: 1.5rem;
  grid-column: 1 / -1;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 1rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

h1,
h2 {
  color: var(--heading-light);
}

.heading {
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.add-playlist {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

label {
  color: var(--text-light);
}

input[type='text'] {
  padding: 0.75em;
  border: 1px solid var(--input-border-light);
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--container-light);
  color: var(--text-light);
}

button {
  padding: 0.75em 1em;
  background-color: var(--button-background-light);
  color: var(--button-text-light);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.75em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-light);
}

button.remove-btn {
  background-color: var(--color-red-primary);
}

button.remove-btn:hover {
  background-color: var(--color-red-hover);
}

button.add-btn {
  background-color: var(--color-blue-primary);
}

button.add-btn:hover {
  background-color: var(--color-blue-hover);
}

button.disabled-btn {
  background-color: var(--color-gray-disabled);
  cursor: default;
}

button.disabled-btn:hover {
  background-color: var(--color-gray-disabled);
  cursor: default;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: var(--background-light);
  border: 1px solid var(--border-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.selected {
  background-color: var(--color-blue-light);
  border-color: var(--color-blue-primary);
}

.song-details {
  flex: 1;
}

.song-title {
  font-weight: bold;
}

.song-title,
.song-artist,
.song-genre {
  font-size: 1rem;
  color: var(--heading-light);
  margin-top: 2px;
}

.playlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#current-playlist {
  color: var(--color-blue-primary);
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
  h1,
  h2 {
    color: var(--heading-dark);
  }
  .container {
    background-color: var(--container-dark);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  section {
    background-color: var(--background-dark);
  }

  button {
    background-color: var(--button-background-dark);
    color: var(--button-text-dark);
  }
  button:hover {
    background-color: var(--button-hover-dark);
  }
  input[type='text'] {
    background-color: var(--container-dark);
    color: var(--text-dark);
    border: 1px solid var(--input-border-dark);
  }
  label {
    color: var(--text-dark);
  }
}
